body{
    background-color: black;
}

hr{
    color: white;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

.pr{
    width: 220px;
}

.pt{
    margin-top: 70px;
    margin-left: 20px;

}

.randomGiphy{
    margin: 0 auto;
}

.ptx{
    margin-top: 70px;
}
